# wildcards
*~
*.swp
*.patch

# ignore all directories and files.
tmp/**/* 
tmp/*
logs/*
logs/**/*
test-result/*
test-result/**/*
public/**/*
public/*
assets/public/**/*
/precompiled/*
eclipse/**
.settings/**
.project
.classpath
