div.menu button
{
    margin-left: 1px;
    margin-right: 1px;
    width: 50px;
    height: 42px; 
    visibility: hidden;
}

div.menu button.hover
{
    visibility: visible;
}

div.menu button.buttonDownload
{
    background: #edf0f6 url(../images/icon_download_off.jpg);
}

div.menu button.buttonUpload
{
    background: #edf0f6 url(../images/icon_upload_off.jpg);
}

div.menu button.buttonSend
{
    background: #edf0f6 url(../images/icon_send_off.jpg);
}

div.menu button.buttonEdit
{
    background: #edf0f6 url(../images/icon_edit_off.jpg);
}

div.menu button.buttonDuplicate
{
    background: #edf0f6 url(../images/icon_duplicate_off.jpg);
}

div.menu button.buttonDelete
{
    background: #edf0f6 url(../images/icon_trash_off.jpg);    
}