<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Page Not Found :(</title> 
  <style>
    body { text-align: center;}
    span[frown] { transform: rotate(90deg); display:inline-block; color: #bbb; }
    ::-moz-selection{ background:#FF5E99; color:#fff; }
    ::selection { background:#FF5E99; color:#fff; }
  </style>
    <link rel="stylesheet" href="/stylesheets/login.css">	
    <link rel="stylesheet" href="/stylesheets/reset.css">
</head>
<body>
     <div id="container" class="container">
			<div id="header" class="header">
                        </div>
       <div id="content" class="content">
         <div id="home-view" class="home-view">
           #{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
            <h1 class="titulo_purple">Look who found the fail hail <span frown>:(</span></h1>
            <div align="center"><img src="/images/fail_hail.jpg"></div>
            <p>
                <div>
	          <p>Sorry, but the page you were trying to view does not exist.</p>
	          <p>It looks like this was the result of either:</p>
	          <p> a mistyped address <br>
		      an out-of-date link<br>
                      but it was probably a result of doing <h2 class="subtitulo_purple">${result.message}<h2>
                      <h1 class="titulo_purple">Clicking <a href="/">here</a> might help.</h1>
	          </p>
	       </div>          
            </p>
             <br><br>
        #{/else}
          </div>
        </div>
</body>
</html>
