.popup-base {
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px solid #dadadf;
}

.popup-base a:hover {
    background: #eeeff4;
}

.popup-context, .popup-search-context {
    width: 117px;
    font-size: 12px;
    font-family: "Nokia Pure Text";
    background: url('../images/submenu_bg.png') repeat;
    line-height: 22px;
}

.popup-context a, .popup-search-context a{
    display: block;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 30px;
    color: #5172b4;
}

.popup-selection-context {
    width: auto;
    line-height: 22px;
    background: url('../images/submenu_bg.png') repeat;
    font-size: 12px;
    font-family: "Nokia Pure Text";
}

.popup-selection-context a {
    padding-left: 10px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
    color: #535076;
}

.configDeleteBar {
    position: absolute;
    z-index: 1;
    background: black;
}

.configDeleteBar p {
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 100%;
    vertical-align: middle;
}

.newUserTable {
    position: absolute;
    z-index: 2;
    background: #edeff0;
    border-color: #dadbe0;
    border-style: solid;
    border-width: 1px;
    width: 630px;
}

.newUserTable form{
    width: 100%;
    height: 88px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.newUserTableClass {
    height: 88px !important;
}

.newUserTrClass {
    height: 44px !important;
    margin: 0;
    padding: 0;
}

.newUserTdClass {
    margin-bottom: 8px;
    margin-top: 7px;
    width: 140px;
}

.extraMargin {
    margin-left: 10px;
    padding: 0;
}

.newUserInput {
    width: 130px;
    height: 29px;
    font-size: 12px;
    line-height: 29px;
    vertical-align: middle;
    margin-top: 5px;
    border-left-color: #d0d1d5;
    border-top-color: #d0d1d5;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-radius: 2px;
    text-transform: uppercase;
}

.submitNewUserButton {
    height: 34px;
    width: 34px;
    margin-top: 5px;
    cursor:pointer;
    border-style: none;
    border-style-inner: none;
    background: url('../images/check1.png') no-repeat left center;
}

.grayed
{
    color: #acacac;
    font-style: italic;
}

.newUserFakePwd {
    width: 130px !important;
    height: 29px !important;
    font-size: 12px;
    line-height: 29px;
}

.newUserPassword
{
    width: 130px;
    height: 29px;
    font-size: 12px;
    line-height: 29px;
    vertical-align: middle;
    margin-top: 5px;
    border-left-color: #d0d1d5;
    border-top-color: #d0d1d5;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-radius: 2px;
    display: none;
}

.dimmedBackground {
    height: 100%;
    width: 100%;
    position:fixed;
    top: 0px;
    left: 0px;
    background: #000000 repeat;
    opacity: 0.7;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);
    z-index: 1;
}

.newGroupTable {
    position: absolute;
    z-index: 2;
    background: #edeff0;
    border-color: #dadbe0;
    border-style: solid;
    border-width: 1px;
}

.newGroupTable form{
    width: 100px;
}

.newGroupTable form table{
    width: 100%;
}

.newGroupTable form table tr td input, .newUserTable form table tr td select, .addUserField{
    padding: 0;
    margin: 5px 0px 5px 10px;
    font-size: 12px;
    line-height: 29px;
}

.newGroupInput {
    width: 130px;
    height: 29px;
    font-size: 12px;
    line-height: 29px;
    vertical-align: middle;
    border-left-color: #d0d1d5;
    border-top-color: #d0d1d5;
    border-top-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-radius: 2px;
}

#plusButtonImage
{
    height: 33px;
    width: 32px;
    background: url(../images/plus.png);
}
