.popup-base {
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px solid #dadadf;
}

.popup-base a:hover {
    background: #ff9999;
}

.popup-context, .popup-search-context {
    width: auto;
    font-size: 12px;
    font-family: "Nokia Pure Semibold";
    background: url('../images/submenu_bg.png') repeat;
    line-height: 22px;
}

.popup-context a, .popup-search-context a{
    display: block;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 30px;
    color: #5172b4;
}

.popup-selection-context {
    width: auto;
    line-height: 22px;
    background: url('../images/submenu_bg.png') repeat;
    font-size: 12px;
    font-family: "Nokia Pure Semibold";
}

.popup-selection-context a {
    padding-left: 10px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
    color: #535076;
}

.configDeleteBar {
    position: absolute;
    z-index: 1;
    background: black;
}

.configDeleteBar p {
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 100%;
    vertical-align: middle;
}

.newUserTable {
    position: absolute;
    z-index: 2;
    background: gray;
}

.newUserTable form{
    width: 100%;
}

.newUserTable form table{
    width: 100%;
}

.newUserTable form table tr td input, .newUserTable form table tr td select, .addUserField{
    width: 160px;
    height: 40px;
    border: 5px solid cyan;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-size: 18px;
}

.newUserInput {

}

.grayed
{
    color: #a1a1a1;
    font-style: italic;
    font-size: 18px;
}

.newUserPassword
{
    display: none;
}

.dimmedBackground {
    height: 100%;
    width: 100%;
    position:fixed;
    top: 0px;
    left: 0px;
    background: #000000 repeat;
    opacity: 0.7;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);
    z-index: 1;
}

