.ui-widget, .ui-datepicker {
    width: 333px;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    border-radius: 0;
    z-index:9999;
    background: #edf0f6;
    text-align: center;
}

.ui-state-hover {

}

.ui-widget-content {
    padding: 0 !important;
    margin: 0 25px 0 25px !important;
    top: 0px;
    font-size: 18px;
    color: #3a77ca;
    background: #edf0f7;
    font-family: "Nokia Pure Text";
}

.ui-dialog-titlebar {
    top: -8px;
    height: 30px !important;
/*    padding-left: 25px !important;*/
    text-decoration: none;
    background: #3a77ca;
    border: none;
    border-radius: 0;
    font-size: 24px;
    color: #ffffff;
    font-family: "Nokia Pure Text";
}

.ui-datepicker-title {
    top: -8px;
    height: 30px !important;
    padding-left: 10px !important;
    text-decoration: none;
    background: #3a77ca;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #ffffff;
    font-family: "Nokia Pure Text";
}

.ui-dialog-titlebar-close, .ui-datepicker-close {
    width: 30px !important;
    height: 31px !important;
    background: url(../images/quit.png) no-repeat;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-header .ui-icon-closethick {
    border: none;
    background: none;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header {
    border: none;
    background: #3a77ca;
}

.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:focus {
    margin: -10px 0 0 0;
    padding: 1px !important;
    border: none;
    width: 30px !important;
    height: 31px !important;
    background: url(../images/quit_on.png) no-repeat;
}

.ui-widget-overlay {
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
 }

/*.buttonSmall {
     display: inline-block;
     padding: 0;
     margin: 10px 0 31px 0;
     height: 32px !important;
     width: 84px;
     background: url('../images/bt-small.png') no-repeat;
     background-position: center;
     font-size: 17px;
     font-family: "Nokia Pure Text";
     color: #3a77ca;
     line-height: 32px;
     text-align: center;
     text-transform: uppercase;
     cursor: default;
 }*/

 .buttonMedium {
     display: inline-block;
     padding: 0;
     margin: 0 0 31px 0;
     height: 32px;
     width: 121px;
     background: url('../images/bt-med.png') no-repeat;
     background-position: center;
     font-size: 17px;
     font-family: "Nokia Pure Text";
     color: #3a77ca;
     line-height: 32px;
     text-align: center;
     text-transform: uppercase;
 }

.extraTopMargin {
    margin-top: 20px !important;
}

.uploadFormClass {
     width: 150px;
     font-family: "Nokia Pure Text";
     color: #3a77ca;
     font-size: 14px;
     margin-top: 39px;
     margin-bottom: 39px;
 }

.button, .button:visited {
    background: #222 url('../images/overlay.png') repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    margin: 20px 0 31px 10px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}

.small.button, .small.button:visited {
    font-size: 11px
}

.button, .button:visited, .medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button, .large.button:visited {
    font-size: 17px;
    padding: 8px 14px 9px;
}

.super.button, .super.button:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
}

.blue.button, .blue.button:visited {
    background-color: #2981e4;
}

.blue.button:hover {
    background-color: #2575cf;
}
