.ui-widget {
    width:333px;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    border-radius: 0;
    z-index:9999;
    background: #edf0f6;
    text-align: center;
}

.ui-widget-content {
    padding: 0 !important;
    margin: 0 25px 0 25px !important;
    top: 0px;
    font-size: 18px;
    color: #3a77ca;
    background: #edf0f7;
    font-family: "Myriad Pro Regular";
}

.ui-dialog-titlebar {
    top: -8px;
    height: 30px !important;
/*    padding-left: 25px !important;*/
    text-decoration: none;
    background: #3a77ca;
    border: none;
    border-radius: 0;
    font-size: 24px;
    color: #ffffff;
    font-family: "Myriad Pro Regular";
}

.ui-dialog-titlebar-close {
    width: 30px !important;
    height: 31px !important;
    background: url(../images/quit.png) no-repeat;
}

.ui-widget-header .ui-icon {
    border: none;
    background: none;
}

.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:focus {
/*    margin: -10px 0 0 0;
    padding: 1px !important;*/
    border: none;
    width: 30px !important;
    height: 31px !important;
    background: url(../images/quit_on.png) no-repeat;
}

.ui-widget-overlay {
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
 }

.buttonSmall {
     display: inline-block;
     padding: 0;
     margin: 10px 0 31px 0;
     height: 32px !important;
     width: 84px;
     background: url('../images/bt-small.png') no-repeat;
     background-position: center;
     font-size: 17px;
     font-family: "Myriad Pro Semibold";
     color: #3a77ca;
     line-height: 32px;
     text-align: center;
     text-transform: uppercase;
 }

 .buttonMedium {
     display: inline-block;
     padding: 0;
     margin: 0 0 31px 0;
     height: 32px;
     width: 121px;
     background: url('../images/bt-med.png') no-repeat;
     background-position: center;
     font-size: 17px;
     font-family: "Myriad Pro Semibold";
     color: #3a77ca;
     line-height: 32px;
     text-align: center;
     text-transform: uppercase;
 }

.extraTopMargin {
    margin-top: 20px !important;
}

.uploadFormClass {
     width: 150px;
     font-family: "Myriad Pro Semibold";
     color: #3a77ca;
     font-size: 14px;
     margin-top: 39px;
     margin-bottom: 39px;
 }

.fileinput-input {
    height:20px;
    width:150px;
    background: url('gradient-input.gif') repeat-x;
        margin: 39px 0 0 0 !important;
    border:0 !important;
        padding: 0 !important;
}

.fileinput-button {
    height:20px;
    width: 70px;
    margin: 39px 0 0 0 !important;
    padding: 0 !important;
    background: #617798;
    border: 0;
    color: #FFFFFF;
}

.fileinput-button-text {
    padding: 0px !important;
}