#sortableList
{
    list-style-type: none;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    margin: 0;
}

#categories
{
    height: auto;
    border: none;
    width: 100%;
}
.listCategory
{
    background:  #EDF0F6 !important;
}


li.listCategory h3
{
    font-size: 14pt;
    color: #3a77ca;
    font-family: "Nokia Pure Regular";
    height: 44px;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    border-bottom : 1px solid #dadbe0;
    border-top : 1px solid #dadbe0;
    border-radius: 0px;
}
li.listCategory a
{
    cursor:pointer;
}

a.categoryName
{

}

span.categoryName{
   margin:10px;
   width: inherit;
   display: inline-block;
   color: #3a77ca;
}

li.listCategory
{
    margin:0;
    vertical-align:middle;
    height: auto;
    border:none;
}

ul.listQuestion
{
    list-style-type: none;
    padding: 5px;
    height: auto;
    border-bottom: 1px solid #dadbe0;
    border-left:  1px solid #dadbe0;  /*optimize??  */
    border-right: 1px solid #dadbe0;
    background: #ebecf0;
    border-radius: 0px;
    margin:0;

}


li.listItemQuestion
{
    color: #3a77ca;
    font-size: 12pt;
    font-weight: normal;
    font-family: "Nokia Pure Regular";
    height: auto;
    vertical-align:bottom;
    border: 1px solid #dadbe0;
    background: #f9f9fa;
    text-align: left;
    padding-left: 20px;
}

li.listItemQuestion.elementSelected {
    background: black ;
}

.qType
{
    float: right;
    width: auto;
    height: 35px;
}

.qType span
{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 15px;
    display: inline-block;
}

div.questionText
{
    float:left;

    width: auto;
    height: 35px;
    font-size: 12pt;
}

div.questionText span
{
    margin-top:7px;
    margin-bottom:7px;
    display: inline-block;
    font-size: 12pt;
}

.additionalButtons
{
    float: left;
    width: auto;
    height: 35px;
    width: auto;
    margin-left: 20px;
}

.deleteElement
{
    display: inline-block;
    float: right;
    width: 50px;
    height: 44px;
    background: url(../images/delete-44px.jpg);
    background-position: 0px 0px;
}

.deleteElement:hover
{
    background-position: 0px 89px;
}

.deleteElement:active
{
    background-position: 0px 45px;
}

.qIcon
{
    display: inline-block;
    float: right;
    width: 50px;
    height: 35px;
    background-position: 0px 0px;
}

.qIcon:hover
{
    background-position: 0px 71px;
}

.qIcon:active
{
    background-position: 0px 36px;
}

.deleteQuestion
{
    background: url(../images/delete-35px.jpg);
}

.duplicateQuestion
{
    background: url(../images/duplicate-35px.jpg);
}

.leftMenuButtonBlock {
    display: inline-block;
    min-width: 30px;
    height: 43px;
    margin-left: 35px;
    background: url(../images/back-43px.png);
    background-position: 0px 0px;
}

.plusButton_layout3 {
    margin-left: 35px;
    margin-top: 8px;
}

#editorBackButton {
    background-position: 0px 0px;
}

#editorBackButton:hover {
    background-position: 0px 87px;
}

#editorBackButton:active {
    background-position: 0px 44px;
}

.leftMenuButtonBlockOver {
    background-position: 0px 44px;
}

.leftMenuButtonBlockPressed {
    background-position: 0px 88px;
}

.leftMenuButton
{
    width: 35px;
    height: 43px;
    background: url(../images/back-43px.png);
}

#executeBackButton{
    height: 43px;
    max-height: 43px;
    background-position: 0 0;
    background: url(../images/back-43px.png);
}

#executeSave{
    background: url(../images/check1.png) no-repeat;
}

span.expandIcon{
    float: left;
    width: 12px;
    height: 12px;
    margin:15px 15px 15px 0px;
    background: url(../images/category-arrow-side.png) no-repeat;
}

span.expandIcon.expanded{
    background: url(../images/category-arrow-down.png) no-repeat;
}

#editor {
    width: 865px;
}

#editorMain
{
    width: 100%;
    float:left;
    max-height: 600px;
    overflow: auto;
}

span.edit
{
    margin-left: 10px;
    font-size: 10pt;
    font-family: "Nokia Pure Regular";
    color: #0061ad;
    cursor: pointer;
}

.addPlace:after
{
    content: 'DROP HERE TO ADD A NEW CATEGORY';
}

.categoryPlaceholder
{
    height: 44px;
    background: #bdd5eb;
    color:  #7691a9;
    text-align: center;
    font-size: 11pt;
}

.newCategory:after
{
    content: 'DROP HERE TO ADD A NEW CATEGORY';
}

.questionPlaceholder
{
    height: 35px;
    background: #bdd5eb;
    color:  #7691a9;
    text-align: center;
    font-size: 11pt;
}

.newQuestion:after
{
    content: 'DROP HERE TO ADD A NEW QUESTION';
}


