#sortableList 
{ 
    list-style-type: none;     
    width: 60%; 
    height: auto;
    border:none;
}

#categories
{
    height: auto;
    border: none;
    width: 100%;
}

#categories li.listCategory h3
{
    font-size: 16px;
    font-family: "Myriad Semibold";
    height: auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;

    border: none;
    border: 1px solid #CCC;
    border-radius: 0px;
}

#categories h3.ui-state-focus, h3.ui-state-active, li.listItemQuestion{
    background: #fffaaa !important;/*  change this line #F0F7FF*/
}

#categories h3:hover{
    background: #11F7AA;/*  change this line #F0F7AA*/
}

#categories a.categoryName 
{
    color: #3a77ca;
}

#sortableList li.listCategory
{ 
    margin-top: 2px; 
    vertical-align:middle;
    height: auto;
    border:none;
}

/*#leftColumnContent img{
    float:right;
    display:block;
    position:absolute;
    margin: 0  0 auto auto;
}*/

#categories ul.listQuestion
{
    list-style-type: none; 
    padding: 5px; 
    height: auto;
    border-bottom: 1px solid #CCC;
    border-left:  1px solid #CCC;/*  optimize??  */
    border-right: 1px solid #CCC;
    background: #E4Eaaa;/*  change this line #E4EBF3*/
    border-radius: 0px;
    
    
}

#categories li.listItemQuestion
{
    font-size: 12px;
    font-weight: normal;
    font-family: "Myriad Pro Regular";
    margin: 2px;
    vertical-align:bottom;
    border: 1px solid #CCC;
    text-align: left;
    padding-left: 5px;   
}

div.questionText 
{
    float:left; 
    width: 80%;
    border: 1px blue;
    font-size: 12px;
}


/*#categories button
{
    width: 36px;
    height: 36px; 
}*/

div.deleteElement
{
    float:right; 
    width: 10%;
    border: 1px red;
}

span.deleteElement
{
    float: right;
    width: 32px;
    height: 34px;
    margin-right: 5px;
    background: url(../images/btn_editor_delete.jpg) no-repeat;
}


#leftColumnContent div.menuButton
{
/*    float:right;*/
}


#leftColumnContent span.leftMenuButton
{
    float:right;
    display: block;
    width: 32px;
    height: 34px;
/*    margin-right: px;*/
}

#executeBackButton{
    background: url(../images/back.png) no-repeat;
}

#executeSave{
    background: url(../images/check1.png) no-repeat;
}

    