#sortableList 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; 
}
/*#sortableList li 
{ 
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em;
    font-size: 1.4em; 
    height: 18px; 
}

#sortableList li span { 
    position: absolute; 
    margin-left: -1.3em; 
}*/

#categories ul
{
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    width: 90%; 
}

#categories li
{
    margin: 0 3px 3px 3px; 
    font-size: 1em; 
}

#categories button
{
    width: 36px;
    height: 36px; 
}

#categories img.deleteCategory
{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}