#dialog-upload-query {
    margin-top: 21px;
    margin-bottom: 34px;
    display: block;
}

.fileinput-container {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    left: 40px;
    height: 29px;
    width: 225px;
    margin-bottom: 26px;
}

.fileinput-container input {
    cursor: pointer;
    height: 100%;
    position: relative;
    display: inline-block;
    filter: alpha(opacity=0 );
    font-family: "Nokia Pure Text";
    font-size: 14px;
    -moz-opacity: 0.0;
    opacity: 0.0;
    z-index: 1;
    line-height: 29px;
}

.fileinput-cover {
    height:29px;
    line-height: 29px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 0px;
    cursor: pointer;
    border: 0;
}

.fileinput-input {
    width: 140px;
    background: url('../images/form_text.png') no-repeat ;
    border: 0;
    color: #3a77ca;
    font-family: "Nokia Pure Text";
    left: 0px;
}

.fileinput-button {
    width: 85px;
    background: url('../images/form_button.png') ;
    left:140px;
}

.fileinput-button-text {
    color: #3a77ca;
    font-size: 14px;
    font-family: "Nokia Pure Semibold";
}


.fileinput-button-text {
    padding: 0px;
}
