/* Font Settings */

@font-face {
    font-family: "Nokia Pure Text";
    src: url("../other/NokiaPureText/nokiapuretext-webfont.eot"); /* IE9 */
    src: url("../other/NokiaPureText/nokiapuretext-webfont.eot") format("eot"), /* IE6-IE8 */
         url("../other/NokiaPureText/nokiapuretext-webfont.woff") format("woff"), /* Modern Browsers */
         url("../other/NokiaPureText/nokiapuretext-webfont.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../other/NokiaPureText/nokiapuretext-webfont.svg") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nokia Pure Text Bold";
    src: url("../other/NokiaPureTextBold/nokiapuretextbold-webfont.eot"); /* IE9 */
    src: url("../other/NokiaPureTextBold/nokiapuretextbold-webfont.eot") format("eot"), /* IE6-IE8 */
         url("../other/NokiaPureTextBold/nokiapuretextbold-webfont.woff") format("woff"), /* Modern Browsers */
         url("../other/NokiaPureTextBold/nokiapuretextbold-webfont.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../other/NokiaPureTextBold/nokiapuretextbold-webfont.svg") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nokia Pure Text Light";
    src: url("../other/NokiaPureTextLight/nokiapuretextlight-webfont.eot"); /* IE9 */
    src: url("../other/NokiaPureTextLight/nokiapuretextlight-webfont.eot") format("eot"), /* IE6-IE8 */
         url("../other/NokiaPureTextLight/nokiapuretextlight-webfont.woff") format("woff"), /* Modern Browsers */
         url("../other/NokiaPureTextLight/nokiapuretextlight-webfont.ttf") format("truetype"); /* Safari, Android, iOS */
         url("../other/NokiaPureTextLight/nokiapuretextlight-webfont.svg") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
