.graphListButton {
    height: 44px;
    cursor: pointer;
    color: #3a77ca;
    font-family: "Nokia Pure Text";
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.buttonGraph {
    background: url(../images/mapview.png);
}

graphRows{
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 44px;
}
