/* Importing Nokia fonts */

@import url('fonts.css');


/********************************************************* body *********************************************************/
body
{
	background-image:url(image/bg.png);
	background-repeat:repeat-x;
	background-color:#20264a;
	font-family: "Nokia Pure Text";
}

.container
{	
    width: 980px;
    margin: 45px auto;
}

.container .header,
.container .content
{
    background-color:#eeeff4;
    width:971px;
}
/************************************************************************************************************************/



/****************************************************** header **********************************************************/
.container .header
{
    width:971px;
    height:157px;   
}



.container .header .logo
{
    background-image:url(../images/brand.jpg);  
    background-position:0px 0px;
    background-repeat:no-repeat;
    width:650px;
    height:157px;   
    display:inline-block;
    vertical-align:top; 
}

.container .header .header-content
{
    width:307px;
    height:157px;
    display:inline-block;
    vertical-align:top;
}

.container .header .lang
{
    text-align:right;
    padding-right:10px;
}

.container .header .lang li
{
    display:inline-block;
    margin-left:3px;
    width:15px;
    height:9px; 
}


.container .header .sign-in
{
    padding-top:15px;   
}

.container .header .recover
{
    font-size:12px;
    color:#b7b7b7;
    font-family: "Nokia Pure Text";
}

.container .header .recover a
{
    color:#a5acc5;
    text-decoration:underline;
}

.container .header .login
{
    margin-top:15px;
}

.container .header .login li
{
    display:inline-block;
    vertical-align:middle;
    margin-right:3px;
}

.container .header .login .username,
.container .header .login .password
{
    background-image:url(../images/textfield01.png);
    border:none;
    width:80px;
    height:29px;
    padding-left:5px;
    font-size:12px;
    color:#b7b7b7;
    font-family: "Nokia Pure Text";
}

.container .header .login .username:hover,
.container .header .login .password:hover
{
    color:#5a5670;
}

.container .header .login .btn_login
{
	background-image:url(../images/login.png);
	border:none;
	width:82px;
	height:32px;
	margin-left:10px;
	cursor:pointer;	
}


/************************************************************************************************************************/



/****************************************************** footer **********************************************************/
.container .footer
{
    width:971px;
    text-align:center;
    font-size:13px;
    color:#8287a3;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Nokia Pure Text";
}

.container .footer a
{
    color:#8287a3;  
}
/************************************************************************************************************************/



/************* Home: 'Create' (box 1), 'Use Mobile' (box 2) and 'Get Results' (box 3); 'start today' (box 4) ************/
.container .content .titulo_purple
{
    font-size:22px;
    color:#7b86ab;
    font-weight:600;
    font-family: "Nokia Pure Text";
}
.container .content .subtitulo_purple
{
    font-size:12px;
    color:#7b86ab;
    font-family: "Nokia Pure Text";
}
.container .content .titulo_white
{
    font-size:22px;
    color:#edf1fc;
    font-family: "Nokia Pure Text";
}

.content .home-view .box-text
{
    font-size:14px;
    color:#949fa8;
    background-color:#043a66;
    width:999px;
    margin-left:-14px;
    font-family: "Nokia Pure Text";
}

.content .home-view .box-text .box01
{
    background-image:url(../images/box01.png);
    background-repeat:no-repeat;
    background-position:26px 23px;  
    background-color:#b5bcd0;   
    display:inline-block;
    vertical-align:top; 
    height:355px;
    width:230px;
    margin-right:-5px;     
}
.content .home-view .box-text .box01 div
{
    padding-left:26px;
    padding-right:15px;
}

.content .home-view .box-text .box02
{
    background-image:url(../images/box02.png);
    background-repeat:no-repeat;    
    background-position:16px 23px;
    background-color:#b5bcd0;   
    display:inline-block;
    vertical-align:top; 
    height:355px;   
    width:230px;
    margin-right:-5px;
}
.content .home-view .box-text .box02 div
{
    padding-left:16px;
    padding-right:25px; 
}

.content .home-view .box-text .box03
{
    background-image:url(../images/box03.png);
    background-repeat:no-repeat;
    background-position:7px 23px;   
    background-color:#b5bcd0;   
    display:inline-block;
    vertical-align:top;
    height:355px;   
    width:230px;    
    margin-right:-4px;  
}
.content .home-view .box-text .box03 div
{
    padding-left:7px;
    padding-right:34px; 
}

.content .home-view .box-text .box01 div,
.content .home-view .box-text .box02 div,
.content .home-view .box-text .box03 div
{
    background-color:#ffffff;
    height:118px;
    padding-top:8px;
    margin-top:229px;
}
.content .home-view .box-text .box01 div p,
.content .home-view .box-text .box02 div p,
.content .home-view .box-text .box03 div p
{
    font-size:11px;
    margin-top: 10px;
    font-family: "Nokia Pure Text";
}

.content .home-view .box-text .box04
{   
    display:inline-block;
    vertical-align:top; 
    width:307px;
    height:355px;
    background-color:#043a66;
}

.content .home-view .box-text .box04 .username,
.content .home-view .box-text .box04 .password,
.content .home-view .box-text .box04 .email

{
    background-image:url(../images/textfield01.png);
    border:none;
    width:80px;
    height:29px;
    padding-left:5px;
    font-size:12px;
    color:#b7b7b7;
    font-family: "Nokia Pure Text";
}
.content .home-view .box-text .box04 h1
{
    margin: 19px 0 5px 40px;
}

.content .home-view .box-text .box04 .box-account
{
    width:309px;
    height:58px;
}
.content .home-view .box-text .box04 .box-account .box-text-account
{
    display:inline-block;
    vertical-align:top;
    font-size:12px;
    color:#b2b9ce;
    width:110px;
    text-align:right;
    height:48px;
    padding-top:10px;   
    font-family: "Nokia Pure Text";
}
.content .home-view .box-text .box04 .box-account .box-btn-account
{
    display:inline-block;
    vertical-align:top;
    height:46px;
    width:155px;
    padding-top:12px;
    padding-left:10px;
}

.content .home-view .box-text .box04 .btn_create_account:hover
{
    background-image:url(../images/en/createaccount_hover.png);
}

.buttonAccount {
    background: url(../images/account.png);
}

.createAccountButton {
    display: inline-block;
    min-width: 287px;
    max-width: 287px;
    border:none;
    height: 55px;
    margin-top: 10px;
}

table.register{
    padding:10px;
    width: 307px;
}

table.register tr{
	padding: 10px;
	text-align: left;
}

table.register td { 
	padding:10px;
        width:10px;
        height:29px;
	}

.registrationForm
{
    background-image:url(../images/textfield02.png);
    border:none;
    width:115px;
    height:39px;
    font-size:12px;
    color:#b7b7b7;
    font-family: "Nokia Pure Text";
    display:inline-block;
    vertical-align:right;
    margin-right:20px;

}


/************************************************************************************************************************/



/*********************** Home: video (box 1), 'ITHAX Video' (box 2) and 'About ITHAX' (box 3) ***************************/
.content .home-view .box-video
{
    font-size:14px;
    color:#949fa8;
    background-image:url(../images/line.png); 
    background-repeat:no-repeat;    
    width:999px;
    margin-left:-14px;
    font-family: "Nokia Pure Text";
}

.content .home-view .box-video .box01
{
    background-image:url(../images/line.png);
    background-position:-14px top;  
    background-repeat:no-repeat;
    background-color:#e1e5ef;
    display:inline-block;
    vertical-align:top; 
    width:441px;
    margin:0 -5px 0 14px;
    text-align:right; 
    padding:25px 0;
}

.content .home-view .box-video .box02
{
    background-image:url(../images/line.png);
    background-position:-331px top; 
    background-repeat:no-repeat;
    background-color:#e1e5ef;
    display:inline-block;
    vertical-align:top;
    width:170px;
    margin-right:-3px;
    padding:22px 25px;
    height:232px; 
}

.content .home-view .box-video .box03
{
    background-color:#eeff4;
    display:inline-block;
    vertical-align:top;
    width:249px;
    padding:22px 30px;      
}

.content .home-view .box-video .box02 p,
.content .home-view .box-video .box03 p
{
    font-size:14px;
    margin-top:10px;
    font-family: "Nokia Pure Text";
}

/************************************************************************************************************************/

