.menubar {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width : 312px;
    text-align: center;
}

.menubar.users {
    max-width: 50px;
    width : 5%;
 }

.hoverRow {
    background: #dbe4f1;
}

.menubar span {
    margin-left: 1px;
    margin-right: 1px;
    width: 50px;
    height: 42px;
    margin-bottom: 1px;
    margin-top: 1px;
    float: left;
    visibility: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.menubar span.hover {
    visibility: visible;
}

#buttonDownload {
    background: url(../images/icon_download_off.png) no-repeat top;
}

#buttonDownload:hover {
    background: #0161ad url(../images/icon_download_on.png) no-repeat bottom;
}

#buttonUpload {
    background: url(../images/icon_upload_off.png);
}

#buttonUpload:hover {
    background: #0161ad url(../images/icon_upload_on.png);
}

#buttonPhone {
    background: url(../images/icon_phone_off.png);
}

#buttonPhone:hover {
    background: #0161ad  url(../images/icon_phone_on.png);
}

#buttonEdit {
    background: url(../images/icon_edit_off.png);
}

#buttonEdit:hover {
    background: #0161ad  url(../images/icon_edit_on.png);
}

#buttonDuplicate {
    background: url(../images/icon_duplicate_off.png);
}

#buttonDuplicate:hover {
    background: #0161ad  url(../images/icon_duplicate_on.png);
}

#buttonDelete {
    background: url(../images/icon_delete_off.png);
}

#buttonDelete:hover {
    background: #0161ad url(../images/icon_delete_on.png);
}
