.menubar {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width : 312px;
    text-align: center;
}

.menubar.users {
    max-width: 100px;
    width: 98px;
    min-width: 98px;
 }

 .menubar.resultListTable {
     max-width: 50px;
     width: 48px;
     min-width: 48px;
 }

.hoverRow {
}

.menubar span {
    margin-left: 0px;
    margin-right: 0px;
/*   can be changed to 50px when font px unit accepted?*/
    width: 48px;
    height: 42px;
    margin-bottom: 1px;
    margin-top: 1px;
    float: left;
    visibility: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.menubar span.hover {
    visibility: visible;
}

#buttonDownload {
    background: url(../images/download-44px.jpg) no-repeat;
}

#buttonDownload:hover, #buttonUpload:hover, #buttonPhone:hover, #buttonEdit:hover, #buttonDuplicate:hover, #buttonDelete:hover, .buttonDelete:hover  {
    background-position: 0 -44px;
}

#buttonDownload:active, #buttonUpload:active, #buttonPhone:active, #buttonEdit:active, #buttonDuplicate:active, #buttonDelete:active, .buttonDelete:active  {
    background-position: 0 -87px;
}

#buttonUpload {
     background: url(../images/upload-44px.jpg) no-repeat;
}

#buttonPhone {
    background: url(../images/mobile-44px.jpg);
}

#buttonEdit {
    background: url(../images/edit-44px.jpg);
}

#buttonDuplicate {
    background: url(../images/duplicate-44px.jpg);
}

#buttonDelete, .buttonDelete {
    background: url(../images/delete-44px.jpg);
}

.groupDelete
{
    display: block;
    float:right;
}


