.menubar {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width : 312px;
    text-align: center;
}

.hoverRow {
    background: #dbe4f1;
}

.menubar span {
    margin-left: 1px;
    margin-right: 1px;
    width: 50px;
    height: 43px;
    visibility: hidden;
}

.menubar span.hover {
    visibility: visible;
}

.menubar span {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.nextPrevText {
    float: left;
    text-align: center;
    vertical-align: middle;
    color: #3a77ca;
    font-size: 14px;
    font-family: "Myriad Pro Regular";
}

.buttonDownload {
    float:left;
    width: 50px;
    height: 43px;
    background: url(../images/icon_download_off.png) no-repeat top;
}

.buttonDownload.pushed {
    background: #0161ad url(../images/icon_download_on.png) no-repeat bottom;
}

.buttonUpload {
    float: left;
    width: 50px;
    height: 43px;
    background: url(../images/icon_upload_off.png);
}

.buttonUpload.pushed {
    background: #0161ad url(../images/icon_upload_on.png);
}

.buttonPhone {
    float: left;
    width: 50px;
    height: 43px;
    background: url(../images/icon_phone_off.png);
}

.buttonPhone.pushed {
    background: #0161ad  url(../images/icon_phone_on.png);
}

.buttonEdit {
    float: left;
    width: 50px;
    height: 43px;
    background: url(../images/icon_edit_off.png);
}

.buttonEdit.pushed {
    background: #0161ad  url(../images/icon_edit_on.png);
}

.buttonDuplicate {
    float: left;
    width: 50px;
    height: 43px;
    background: url(../images/icon_duplicate_off.png);
}

.buttonDuplicate.pushed {
    background: #0161ad  url(../images/icon_duplicate_on.png);
}

.buttonDelete {
    float: left;
    width: 50px;
    height: 43px;
    background: url(../images/icon_delete_off.png);
}

.buttonDelete.pushed {
    background: #0161ad url(../images/icon_delete_on.png);
}

#buttonPrevious {
    float: right;
    width: 32px;
    height: 33px;
    margin-right: 11px;
    background: url(../images/back.png) no-repeat;
}

#buttonPrevious:active {
    background: #0161ad url(../images/back.png) no-repeat;
}

#buttonNext {
    float: right;
    width: 32px;
    height: 33px;
    margin-right: 19px;
    background: url(../images/next.png) no-repeat;
}

#buttonNext:active {
    background: #0161ad url(../images/next.png) no-repeat;

}

#pageIndexText {
    float: right;
    text-align: right;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 14px;
}

#pageIndexText small {
    font-size: 13px;
    font-family: "Myriad Semibold";
    color: #6388bb;
}

#pageIndexText strong {
    font-size: 13px;
    font-family: "Myriad Regular";
    color: #6388bb;
}
