/*
    Document   : questionelement
    Created on : 2011-11-02, 15:19:50
    Author     : damian.janicki
    Description:
        Purpose of the stylesheet follows.
*/

div.questionDetails
{
    padding: 10px 0px 10px 0px;
}

.detailLabel
{
    font-size: 12px;
    color: #878787;
    font-family: "Nokia Pure Text";
    text-align: left;
    margin-left: 5px;
    margin-right: 10px;
}

.detailInputText
{
    font-size: 12px;
    margin-right: 20px;
    width : 50px;
    color: #acacac;
    font-family: "Nokia Pure Text";
    text-align: left;
    border: 1px solid #acacac;
}

.descriptiveDefault.detailInputText
{
    width: 150px;
}

.defaultLabel
{
    display: none;
}


div.addOption
{
    margin-top: 4px;
    display: inline-block;
    background: url(../images/add-alternative-29px.png);
    height: 32px;
    width: 29px;
    background-position: 0px 0px;
}

div.addOption:hover
{
    background-position: 0px -32px;
}

div.addOption:active {
    background-position: 0px -64px;
}


div.importOption
{
    margin-top: 4px;
    display: inline-block;
    background: url(../images/Import.png);
    height: 32px;
    width: 69px;
    background-position: 0px 0px;
    margin-right: 15px;
}

div.importOption:hover
{
    background-position: 0px -32px;
}

div.importOption:active {
    background-position: 0px -64px;
}

div.optionIcon.iconVisible
{
    visibility: visible;
}

div.optionIcon.selected
{
    visibility: visible;
}

div.optionIcon.iconVisibleDrag
{
    visibility: visible;
}

div.optionIcon
{
    visibility: hidden;
    display: inline-block;
    height: 19px;
    width: 19px;
    background-position: 0px 0px;
    margin-left: 10px;
}

div.optionIcon:hover
{
    background-position: 0px 20px;
}

div.optionIcon:active
{
    background-position: 0px 40px;
}

div.deleteOption
{
    background: url(../images/x-delete.png);
}

div.skipto
{
    background: url(../images/skipto.png);
}

div.skipto.selected, div.skipto.selected:hover, div.skipto.selected:active
{
    background: url(../images/skipto-selected.png);
}


.optionInput
{
    min-height: 20px;
    max-width: 450px;
    height: auto;
    white-space: pre-line;
    word-wrap: break-word;
}

.optionCheckBox
{
    margin-right: 10px;
    height: 14px;
}

.dateInput, .timeInput
{
    width: 100px;
    margin-right: 5px;

}

.ui-datepicker-trigger
{
    margin-right: 40px;
}

div.dateDefault
{
    margin-bottom: 7px;
}

.typeSelect
{
    font-size: 14px;
    color: #acacac;
    font-family: "Nokia Pure Text";
    text-align: left;
    border: 1px solid #acacac;
}

.amPmRadio
{
    margin-left: 30px;
}

