.resultCheckboxPaddingClass {
    padding-left: 18px;
}

.checkboxColumnIdWidth {
    width: 25px;
}

.executeSortByResultTitleWidth {
    width: 208px;
}

.executeSortByDateSentWidth {
    width: 158px;
}

.executeSortByUserWidth {
    width: 198px;
}

.executeSortByLocationWidth {
    width: 98px;
}

.itemTextColor
{
    color: #3a77ca;
}

.resultListButton {
    display: inline-block;
    min-width: 101px;
    max-width: 101px;
    height: 29px;
    margin-left: 35px;
    margin-top: 10px;
    line-height: 29px;
    cursor: pointer;
    color: #3a77ca;

    font-family: "Nokia Pure Text";
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.buttonMapView {
    background: url(../images/mapview.png);
}

.buttonExport {
    background: url(../images/export.png);
}

.buttonExport span {
    overflow: hidden;
    float: left;
    width: 75px;
    white-space: nowrap;
    margin-left: 5px;
}

.resultListButton:hover {
    background-position: 0 31px;
}

.resultListButton:active {
    background-position: 0 63px;
}

#minimalist.resultListTable {
    width: 790px;
}

#leftColumn.resultListTable {
    width: 155px;
}

.resultListLeftMenu {
    text-align: right;
    margin-right:20px;
    line-height: 0px;
}

#content.resultListTable {
    width: 825px;
}

#contentToolbar.resultListTable {
    width: 790px;
}

.popup-export-results {
    width: 101px;
    margin-right: 1px;
    font-size: 13px;
    font-family: "Nokia Pure Text";
    color: #3a77ca;
    line-height: 22px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px ;
}

.popup-export-results div span {
    padding-left: 3px;
}

.popup-export-results div:hover {
    background: #0061ac;
    color: #f9f9fa;
    -moz-border-radius: 5px;
    border-radius: 5px;
}