/*waiting for UIspec with dimensions*/

.executeSortBySurveyNameWidth {
    width: 220px;
}

.executeSortByDatePublishedWidth {
    width: 100px !important;
}

.executeSortByPublisherWidth {
    width: 100px !important;
}

.executeSortByResultsWidth {
    width: 80px !important;
}

#surveyNameCell {
    padding-left: 20px;
}

#filter {
    margin: 0 30px 0 0px;
    width:60px;
    float:right;
    position:relative;
    margin-top: 26px;
}

#filter h3 {
    margin-bottom: 10px;
    margin-top: 0px;
    color: #7691a9;
    font-size: 16px;
    font-family: "Nokia Pure Regular";
    text-align: center;
}

#filter h4 {
    height: 19px;
    width: 60px;
    font-family: "Nokia Pure Regular";
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    vertical-align: middle;
    color: #eeeff4;
}

h4.labelBuilding {
    background-color: #7691a9;
}

h4.labelAvailable {
    background-color: #3a77ca;
}

h4.labelClosed {
    background-color: #acacac;
}

.markAvailable
{
    background: url('../images/marker_building.png') no-repeat center left;
}

.markAvailableText
{
    color: #3a77ca;
}

.markBuilding
{
    background: url('../images/marker_available.png') no-repeat center left;
}

.markBuildingText
{
    color: #7691a9;
}

.surveyNameText {
    font-family: "Nokia Pure Bold";
    font-size: 13px;
    margin: 0 0 0 0;
}

.surveyIdText {
    font-family: "Nokia Pure Regular";
    font-size: 11px;
    margin: 0 0 0 0;
}

#dynamicListTable .resultCollectionQuantity {
    font-family: "Nokia Pure Bold" ;
    font-size: 13px ;
}

.underLine {
    text-decoration: underline;
}

